@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h2 class="display-5">Página feita por Felipe</h2>
    <p>
        Edição da home-page com novas informações.
    </p>
    <h3 class="display-6">Sobre o projeto</h3>
    <p>
        Esse projeto tem como objetivo implementar um CRUD básico com operações de consulta à dados direto via interface utilizando MySQL e LINQ como métodos de consulta. Além disso iremos implementar uma interface e trabalhar esta no formato de template-engine. Não será implementado nenhum micro-serviço inicialmente.
        <br/><br/>
        O projeto também contará com implementações de campos de inserção e deleção de registros além de, se houver tempo hábil, a implementação de uma área para criação e gerenciamento de usuários.

    </p>
</div>